<img src="../public/assets/img/burger.jfif" alt="TastyBurgerImage">
<h1>Eat-Da-Burger!</h1>

<ul>
    <h3>Available:</h3>
  {{#each burgers}}
    <span class="item">
        {{#unless devoured}}
        <p>
            {{id}}. {{burger_name}}
            <button class="consume" data-id="{{id}}">Devour It!</button>
        </p>
        {{/unless}}
    </span>
  {{/each}}
</ul>

<ul>
    <h3>Consumed:</h3>
  {{#each burgers}}
    <span class="item">
        {{#if devoured}}
        <p>{{id}}. {{burger_name}}</p>
        {{/if}}
    </span>
  {{/each}}
</ul>

<form class="creation-form">    
    <textarea name="name" id="name" cols="30" rows="10"></textarea>
    <button type="submit">Submit</button>
    <p>Enter A Burger You'd Like to Eat & Click "Submit"</p>
</form>